{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
<!--     <link rel="stylesheet" type="text/css" href="{% static 'css/util_login.css' %}"> -->
<!--     <link rel="stylesheet" type="text/css" href="{% static 'css/main_login.css' %}"> -->
    <!--===============================================================================================-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{% static 'css/all.css' %}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
 <!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo1.png' %}" alt="logo" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                 <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/services">Services</a>
              </li>

              <li class="nav-item">
                 <a class="nav-link" href="/contact">Contact</a>
              </li>
              {% if user.is_authenticated %}
              
              <li class="nav-item">
                 <a class="nav-link" href="/accounts/logout">logout</a>
              </li>
              <li class="nav-link" >Hello {{ user.username }}</li>

              {% else %}
              <li class="nav-item">
                 <a class="nav-link" href="/accounts/register">Register</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/accounts/login">login</a>
              </li>
              {% endif %}
           </ul>
        </div>
    </div>
</nav>

    <div class="limiter">
        <div class="container-login100" style="background-color:aqua">
            <div class="wrap-login100">

                <form class="login100-form validate-form" action="login" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>
                    <div>
                        {% for message in messages %}
                        <center><strong><p style="color:red;">{{message}}</p></strong></center><br>
                        {% endfor %}
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Don't have an account?
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>


        <!--footer starts from here-->
        <footer class="footer">
            <div class="container bottom_border">
                <div class="row">
                   <div class="col-lg-3 col-md-6 col-sm-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                        <!--headin5_amrc-->
                        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
                        <p><i class="fa fa-phone"></i> +91-9999878398 </p>
                        <p><i class="fa fa fa-envelope"></i> info@example.com </p>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                        <!--headin5_amrc ends here-->
                        <ul class="footer_ul2_amrc">
                            <li>
                                <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                                <p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
                            </li>
                        </ul>
                        <!--footer_ul2_amrc ends here-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href="#">Default Version</a></li>
                            <li><a href="#">Boxed Version</a></li>
                            <li><a href="#">Our Team </a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Get In Touch</a></li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li class="media">
                                <div class="media-left">
                                    <img class="img-fluid" src="{% static 'images/post-img-01.jpg' %}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>How to find best dog food?</p>
                                    <span>22 Sep 2018</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <img class="img-fluid" src="{% static 'images/post-img-02.jpg' %}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>How to find best dog food?</p>
                                    <span>34 Sep 2018</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <img class="img-fluid" src="{% static 'images/post-img-03.jpg' %}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>How to find best dog food?</p>
                                    <span>30 Sep 2018</span>
                                </div>
                            </li>
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-logo">
                    <a href="#"><img src="{% static 'images/footer-logo.png' %}" alt="" /></a>
                </div>
                <!--foote_bottom_ul_amrc ends here-->
                <p class="copyright text-center">All Rights Reserved. &copy; 2018 <a href="#">N & LW Lawn Care</a> Design By : 
                    <a href="https://html.design/">html design</a>
                </p>
                <ul class="social_footer_ul">
                    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <!--social_footer_ul ends here-->
            </div>
        </footer>
          
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
    </html>
